<% if flash[:alert] %>
  <%= flash[:alert] %>
<%end%>
<% if @user %>
<h1><%= @user.email %>'s Recipes</h1>

<%= link_to "Create a Recipe", new_user_recipe_path(current_user) %>

<% else %>

<div id=recipes-display></div>
<h1>All Recipes</h1>
<%= link_to "Filtered Recipes by Name", recipes_ordered_by_name_path %> 
<%= link_to "Filtered Recipes by Time", recipes_ordered_by_time_path %>
<%end%>
<div class="recipes"></div>
  <div class="recipe">
    <ul class="recipe-actions">
        <% @recipes.each do |recipe| %>
          <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
          <% if current_user.id == recipe.user.id %>
            <li><%= link_to "Edit", edit_user_recipe_path(current_user, recipe) %></li>
            <%= form_tag recipe_path(recipe), method: "delete" do %>
              <%= submit_tag "Delete #{recipe.name}", :class => 'btn btn-danger' %>
            <% end %>
          <%end%>
        <%end%>
    </ul>
  
  </div>
</div>





